/* Hello! */

* {
    box-sizing: border-box;
}

html {
    min-width: 300px;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100%;
}

body, .item {
    padding: 0;
    margin: 0;
}

.row, body {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

body {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.item {
    flex-grow: 3;
    background-color: #eee;
    height: 40vh;
}

.spacer {
    flex-grow: 1;
}

@media screen and (max-width: 750px) {
    body {
        margin-top: 15px;
    }

    .item {
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 15px;
        height: 30vh;
    }

    .row {
        flex-direction: column;
    }
}
