/* Hello! */

html, body {
    /* No nonsense */
    padding: 0;
    margin: 0;
}

body {
    background-color: #333333;
}

.grid {
    /* Make this fill the screen */
    margin: 0;
    padding: 0;

    /* CSS Flexbox to the rescue! */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.cell {
    background-color: #111111;
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
